<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38433222199-asia5kl9eeknppob0pgcj96d8rttbhqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38433222199-asia5kl9eeknppob0pgcj96d8rttbhqi</string>
	<key>API_KEY</key>
	<string>AIzaSyCFFVF-uNe9t0S04C-eDXY_rEEKeg2kJ3E</string>
	<key>GCM_SENDER_ID</key>
	<string>38433222199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MedApp</string>
	<key>PROJECT_ID</key>
	<string>meda-13ac4</string>
	<key>STORAGE_BUCKET</key>
	<string>meda-13ac4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38433222199:ios:060deb6b6f8d57de5cd9b2</string>
	<key>DATABASE_URL</key>
	<string>https://meda-13ac4.firebaseio.com</string>
</dict>
</plist>